[data-theme='base-light'] {
  --background: color-mix(in srgb, var(--accent-color) 15%, #fff);
  --accent-color: #d24335;
}

[data-theme='base-dark'] {
  --background: color-mix(in srgb, var(--accent-color) 16%, #101016);
  --accent-color: #d24335;
}

[data-theme='base-light'][data-palette='orange'] {
  --accent-color: #f39c12;
}

[data-theme='base-dark'][data-palette='orange'] {
  --accent-color: #f39c12;
}

[data-theme='base-light'][data-palette='purple'] {
  --accent-color: #9b59b6;
}

[data-theme='base-dark'][data-palette='purple'] {
  --accent-color: #9b59b6;
}

[data-theme='base-light'][data-palette='green'] {
  --accent-color: #2ecc71;
}

[data-theme='base-dark'][data-palette='green'] {
  --accent-color: #2ecc71;
}

[data-theme='base-light'][data-palette='blue'] {
  --accent-color: #2c97df;
}

[data-theme='base-dark'][data-palette='blue'] {
  --accent-color: #2c97df;
}

[data-theme='base-light'][data-palette='gray'] {
  --accent-color: #808686;
}

[data-theme='base-dark'][data-palette='gray'] {
  --accent-color: #808686;
}

[data-theme='base-light'][data-palette='pink'] {
  --accent-color: #ff89d8;
}

[data-theme='base-dark'][data-palette='pink'] {
  --accent-color: #ff89d8;
}
