[data-theme|="photo"] {
  --quote-font-family: "Abril Fatface", sans-serif;
}

[data-theme|="photo"] body {
  background-size: cover;
  background-position: center;
}


[data-theme|="photo"] #photo-overlay {
  position: fixed;
  inset: 0;
  background: var(--background);
  transition: all .5s;
}

[data-theme|="photo"] blockquote:before,
[data-theme|="photo"] blockquote:after {
  content: none;
}

[data-theme="photo-light"] #time-clock {
  color: #111111;
}

[data-theme="photo-light"] {
  --background: #DDDDDD;
  --font-color: #2f2e2c;
  --accent-color: #e33725;
}

[data-theme="photo-light"] #photo-overlay {
  opacity: .3;
}

[data-theme="photo-light"] #quote {
  text-shadow: 0px 0px 25px #FFFFFF;
  color: #111111;
}

[data-theme="photo-light"] body.share-quote blockquote .time {
  color: #111111;
}

[data-theme="photo-dark"] #time-clock {
  color: #EEEEEE;
}

[data-theme="photo-dark"] {
  --background: #111111;
  --font-color: #a3a29a;
  --accent-color: #fd3622;
}

[data-theme="photo-dark"] #photo-overlay {
  opacity: .4;
}

[data-theme="photo-dark"] #quote {
  text-shadow: 0px 0px 25px #000000;
  color: #EEEEEE;
}

[data-theme="photo-dark"] body.share-quote blockquote .time {
  color: #EEEEEE;
}