[data-theme|="whatsapp"] {
  --quote-font-family: "Roboto", sans-serif;
  --quote-line-height: 1.3;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24),
    inset 0px 5px 0px -3px #f1f1f111;
}

[data-theme|="whatsapp"] body {
  background-size: calc(25vw + 500px);
}

[data-theme|="whatsapp"] blockquote {
  display: flex;
  flex-direction: column;
}

[data-theme|="whatsapp"] blockquote:before,
[data-theme|="whatsapp"] blockquote:after {
  content: none;
}

[data-theme|="whatsapp"] .time {
  font-weight: bold;
}

[data-theme|="whatsapp"] blockquote p {
  border-radius: 0.75rem;
  border-start-start-radius: 0;
  box-shadow: var(--box-shadow);
  max-width: 70%;
  padding: 0.75rem 1rem;
  position: relative;
  margin-inline-start: 1rem;
  max-height: 40vh;
}

[data-theme|="whatsapp"] blockquote cite {
  border-radius: 0.75rem;
  border-start-end-radius: 0;
  padding: 0.75rem 1rem;
  box-shadow: var(--box-shadow);
  font-style: normal;
  margin-inline-end: 1rem;
  margin-top: 1.5rem;
  display: block;
  position: relative;
  align-self: end;
  max-width: 70%;
  opacity: 1;
}

[data-theme|="whatsapp"] .safe-screenshot blockquote p,
[data-theme|="whatsapp"] .safe-screenshot blockquote cite {
  box-shadow: none;
}

[data-theme|="whatsapp"] cite:before {
  content: "📖 ";
}

[data-theme|="whatsapp"] blockquote p:after,
[data-theme|="whatsapp"] cite:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}

[data-theme|="whatsapp"] blockquote p:after {
  border-width: 0px 15px 15px 0;
  top: 0px;
  left: -15px;
}

[data-theme|="whatsapp"] cite:after {
  border-width: 0px 0 15px 15px;
  top: 0px;
  right: -15px;
}

[data-theme|="whatsapp"] #time-progress-bar {
  background: var(--accent-color);
}

[data-theme="whatsapp-light"] {
  --accent-color: #245247;
  --background: #eaeaec;
  --background-image: url("/assets/whatsapp-bg-light.jpg");
}

[data-theme="whatsapp-light"] blockquote p {
  background-color: #ffffff;
  color: #333333;
}

[data-theme="whatsapp-light"] cite {
  background-color: #e1ffc7;
  color: #333333;
}

[data-theme="whatsapp-light"] blockquote p:after {
  border-color: transparent #fff transparent transparent;
}

[data-theme="whatsapp-light"] cite:after {
  border-color: transparent transparent transparent #e1ffc7;
}

[data-theme="whatsapp-dark"] {
  --accent-color: #a9eb91;
  --background: #12121a;
  --background-image: url("/assets/whatsapp-bg-dark.jpg");
}

[data-theme="whatsapp-dark"] blockquote p {
  background-color: #3d3c3f;
  color: #f1f1f1;
}

[data-theme="whatsapp-dark"] cite {
  background-color: #245247;
  color: #f1f1f1;
}

[data-theme="whatsapp-dark"] blockquote p:after {
  border-color: transparent #3d3c3f transparent transparent;
}

[data-theme="whatsapp-dark"] cite:after {
  border-color: transparent transparent transparent #245247;
}
