@import url(themes/base.css);
@import url(themes/colors.css);

@import url(themes/anaglyph.css);
@import url(themes/bohemian.css);
@import url(themes/elegant.css);
@import url(themes/festive.css);
@import url(themes/frame.css);
@import url(themes/handwriting.css);
@import url(themes/retro.css);
@import url(themes/subtle.css);
@import url(themes/terminal.css);
@import url(themes/whatsapp.css);
