html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Special Elite', cursive;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: var(--background-color);
}

.hidden {
    display: none;
}

body.zen-mode #footnote,
/* body.zen-mode #quote-time-bar, */
body.zen-mode footer #menu {
    display: none;
}

body.zen-mode #exit-zen {
    display: block;
}

#clock {
    max-width: 80vw;
    margin: 0 auto;
}

a, a:visited {
    color: var(--accent-color);
}

blockquote {
    position: relative;
    line-height: 1.1;
    font-weight: 100;
}

blockquote p {
    font-size: 4vw;
    margin: 0;
    padding-bottom: .5rem;
}

blockquote:before,
blockquote:after {
    position: absolute;
    color: #4f4e4991;
    font-size: 8rem;
    width: 4rem;
    height: 4rem;
}

blockquote:before {
    content: '“';
    left: -5rem;
    top: -2rem;
}

blockquote:after {
    content: '”';
    right: -5rem;
    bottom: 1rem;
}

blockquote .quote-time {
    color: var(--accent-color);
}

cite {
    font-size: 1.7vw;
}

select {
    background-color: var(--background-color);
    color: var(--font-color);
}

#quote-time-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: var(--font-color);
    transition: width 1s linear;
}

#exit-zen {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    display: none;
}

footer {
    font-size: .85rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 1.5;
    padding: 1rem;
}

@media all and (max-width: 959px) and (min-width: 600px) {
    cite {
        font-size: 2.3vw;
    }

    #footnote {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 600px) {
    #clock {
        max-width: unset;
    }

    blockquote {
        margin: 1rem;
    }

    blockquote:before,
    blockquote:after {
        content: unset;
    }

    blockquote p {
        font-size: 1.9rem;
    }

    cite {
        font-size: 1rem;
    }

    #footnote {
        font-size: .9rem;
    }

    #exit-zen {
        font-size: 1.3rem;
    }

    footer {
        font-size: .8rem;
    }
}