:root {
  --accent-color: #d24335;
  --background: #12121a;
  --font-color: #a3a29a;
  --quote-font-family: "Special Elite", cursive;
}

[data-theme$="light"] {
  --font-color: #2f2e2c;
}

[data-theme$="dark"] {
  --font-color: #a3a29a;
}

/* ==================COLORS================== */

[data-theme="base-light"] {
  --accent-color: #d24335;
  --background: #eaeaec;
}

[data-theme="base-dark"] {
  --accent-color: #d24335;
  --background: #12121a;
}

[data-theme="orange-light"] {
  --accent-color: #f39c12;
  --background: #fdf2e9;
}

[data-theme="orange-dark"] {
  --accent-color: #f39c12;
  --background: #1a0e0c;
}

[data-theme="purple-light"] {
  --accent-color: #9b59b6;
  --background: #f5eefd;
}

[data-theme="purple-dark"] {
  --accent-color: #9b59b6;
  --background: #121222;
}

[data-theme="green-light"] {
  --accent-color: #2ecc71;
  --background: #f0fff4;
}

[data-theme="green-dark"] {
  --accent-color: #2ecc71;
  --background: #0e0e1a;
}

[data-theme="blue-light"] {
  --accent-color: #2c97df;
  --background: #f2f6ff;
}

[data-theme="blue-dark"] {
  --accent-color: #2c97df;
  --background: #0c0c1a;
}

[data-theme="gray-light"] {
  --accent-color: #808686;
  --background: #f4f6f6;
}

[data-theme="gray-dark"] {
  --accent-color: #f1f1f1;
  --background: #1a1a1e;
}

[data-theme="pink-light"] {
  --accent-color: #ff6b81;
  --background: #fdf2f8;
}

[data-theme="pink-dark"] {
  --accent-color: #ff6b81;
  --background: #1a0c0e;
}

/* ==================THEMES================== */

[data-theme|="festive"] blockquote:before,
[data-theme|="festive"] blockquote:after,
[data-theme|="bohemian"] blockquote:before,
[data-theme|="bohemian"] blockquote:after,
[data-theme|="handwriting"] blockquote:before,
[data-theme|="handwriting"] blockquote:after,
[data-theme|="whatsapp"] blockquote:before,
[data-theme|="whatsapp"] blockquote:after,
[data-theme|="terminal"] blockquote:before,
[data-theme|="terminal"] blockquote:after {
  content: none;
}

/* ==================RETRO================== */

[data-theme|="retro"] {
  --quote-font-family: "VT323", sans-serif;
  --quote-line-height: 1;
}

[data-theme|="retro"] #time-progress-bar {
  height: 100vh;
  opacity: 0.15;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), var(--accent-color));
}

[data-theme="retro-light"] {
  --accent-color: #daa908;
  --background: #f8f8f8;
  --background-image: repeating-linear-gradient(
    var(--background) 38px,
    var(--background) 0px,
    rgba(109, 109, 109, 0.1) 41px
  );
}

[data-theme="retro-dark"] {
  --accent-color: #f1ba08;
  --background: #2c2c2c;
  --background-image: repeating-linear-gradient(
    var(--background) 38px,
    var(--background) 0px,
    rgba(109, 109, 109, 0.4) 41px
  );
}

/* ==================ELEGANT================== */

[data-theme|="elegant"] {
  --quote-font-family: "Playfair Display", sans-serif;
  --quote-line-height: 1.5;
  --accent-color: #9f5bd5;
}

[data-theme|="elegant"] #time-progress-bar {
  background-color: var(--accent-color);
}

[data-theme="elegant-light"] {
  --background: #f5f5f5;
}

[data-theme="elegant-dark"] {
  --background: #1a1a1a;
}

/* ==================FESTIVE================== */

[data-theme|="festive"] {
  --quote-font-family: "Borel", sans-serif;
  --quote-line-height: 1.5;
  --accent-color: #e74c3c;
}

[data-theme="festive-light"] {
  --background: #fad0c4;
  --background-image: linear-gradient(
    to top right,
    var(--background) 0%,
    #ffd1ff 100%
  );
}

[data-theme="festive-dark"] {
  --background: #011b1b;
  --background-image: linear-gradient(
    to top right,
    var(--background) 0%,
    #43162c 100%
  );
}

/* ==================BOHEMIAN================== */

[data-theme|="bohemian"] {
  --quote-font-family: "Comfortaa", sans-serif;
  --quote-line-height: 1.2;
  --accent-color: #1abc9c;
}

[data-theme|="bohemian"] #time-progress-bar {
  height: 100vh;
  opacity: 0.1;
  background-color: var(--accent-color);
}

[data-theme="bohemian-light"] {
  --background: #fef9e7;
}

[data-theme="bohemian-dark"] {
  --background: #1a1a1a;
}

/* ==================HANDWRITING================== */

[data-theme|="handwriting"] {
  --quote-font-family: "Reenie Beanie", sans-serif;
  --quote-line-height: 1;
  --accent-color: #20668f;
}

[data-theme|="handwriting"] .time {
  padding: 0 0.4rem;
  border-radius: 0.3rem;
  transform: rotate(-3deg);
  display: inline-block;
}

[data-theme="handwriting-light"] {
  --background: #fef9e7;
}

[data-theme="handwriting-light"] .time {
  background: #f5f514;
}

[data-theme="handwriting-dark"] {
  --background: #111111;
}

[data-theme="handwriting-dark"] .time {
  background: #ffff00aa;
}

/* ==================ANAGLYPH================== */

[data-theme|="anaglyph"] {
  --quote-font-family: "Anton", sans-serif;
  --quote-line-height: 1.2;
}

[data-theme|="anaglyph"] blockquote {
  word-spacing: 0.25rem;
}

[data-theme="anaglyph-light"] {
  --accent-color: #c53a35;
  --background: #eaeaec;
  --background-image: repeating-linear-gradient(
    var(--background) 38px,
    var(--background) 0px,
    rgba(109, 109, 109, 0.1) 41px
  );
  --font-color: #2f2e2c;
  --shadow: 5px 2px #e60c05, -5px -2px #4be4e2;
  --color-mix: color-mix(in srgb, var(--font-color), transparent 10%);
}

[data-theme="anaglyph-light"] .time,
[data-theme="anaglyph-light"] #exit-zen {
  text-shadow: var(--shadow);
  color: var(--color-mix);
}

[data-theme="anaglyph-light"] #time-progress-bar {
  box-shadow: var(--shadow);
  background: var(--color-mix);
}

[data-theme|="anaglyph-light"] select:focus,
[data-theme|="anaglyph-light"] button:focus {
  box-shadow: 2px 2px #e60c05, -2px -2px #4be4e2 !important;
}

[data-theme="anaglyph-dark"] {
  --accent-color: #3987b4;
  --background: #12121a;
  --background-image: repeating-linear-gradient(
    var(--background) 38px,
    var(--background) 0px,
    rgba(109, 109, 109, 0.4) 41px
  );
  --font-color: #f0f0f0;
  --shadow: 5px 2px #f50d3f, -5px -2px #41ceee;
  --color-mix: color-mix(in srgb, var(--font-color), transparent 5%);
}

[data-theme="anaglyph-dark"] .time,
[data-theme="anaglyph-dark"] #exit-zen {
  text-shadow: var(--shadow);
  color: var(--color-mix);
}

[data-theme="anaglyph-dark"] #time-progress-bar {
  box-shadow: var(--shadow);
  background: var(--color-mix);
}

[data-theme|="anaglyph-dark"] select:focus,
[data-theme|="anaglyph-dark"] button:focus {
  box-shadow: 2px 2px #f50d3f, -2px -2px #41ceee !important;
}

/* ==================WHATSAPP================== */

[data-theme|="whatsapp"] {
  --quote-font-family: "Roboto", sans-serif;
  --quote-line-height: 1.3;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24),
    inset 0px 5px 0px -3px #f1f1f111;
}

[data-theme|="whatsapp"] .time {
  font-weight: bold;
}

[data-theme|="whatsapp"] blockquote p {
  border-radius: 0.75rem;
  border-start-start-radius: 0;
  box-shadow: var(--box-shadow);
  max-width: 80%;
  padding: 0.5rem 0.75rem;
  position: relative;
  margin-inline-start: 1rem;
  max-height: 40vh;
}

[data-theme|="whatsapp"] cite {
  border-radius: 0.75rem;
  border-start-end-radius: 0;
  padding: 0.5rem 0.75rem;
  box-shadow: var(--box-shadow);
  font-style: normal;
  max-width: 50%;
  margin-inline-end: 1rem;
  margin-top: 1rem;
  margin-inline-start: auto;
  display: block;
  position: relative;
}

[data-theme|="whatsapp"] cite:before {
  content: none;
}

[data-theme|="whatsapp"] blockquote p:after,
[data-theme|="whatsapp"] cite:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}

[data-theme|="whatsapp"] blockquote p:after {
  border-width: 0px 15px 15px 0;
  top: 0px;
  left: -15px;
}

[data-theme|="whatsapp"] cite:after {
  border-width: 0px 0 15px 15px;
  top: 0px;
  right: -15px;
}

[data-theme|="whatsapp"] #time-progress-bar {
  background: var(--accent-color);
}

[data-theme="whatsapp-light"] {
  --accent-color: #245247;
  --background: #eaeaec;
  --background-image: url("../images/whatsapp-bg-light.jpg");
}

[data-theme="whatsapp-light"] blockquote p {
  background-color: #ffffff;
  color: #333333;
}

[data-theme="whatsapp-light"] cite {
  background-color: #e1ffc7;
  color: #333333;
}

[data-theme="whatsapp-light"] blockquote p:after {
  border-color: transparent #fff transparent transparent;
}

[data-theme="whatsapp-light"] cite:after {
  border-color: transparent transparent transparent #e1ffc7;
}

[data-theme="whatsapp-dark"] {
  --accent-color: #a9eb91;
  --background: #12121a;
  --background-image: url("../images/whatsapp-bg-dark.jpg");
}

[data-theme="whatsapp-dark"] blockquote p {
  background-color: #3d3c3f;
  color: #f1f1f1;
}

[data-theme="whatsapp-dark"] cite {
  background-color: #245247;
  color: #f1f1f1;
}

[data-theme="whatsapp-dark"] blockquote p:after {
  border-color: transparent #3d3c3f transparent transparent;
}

[data-theme="whatsapp-dark"] cite:after {
  border-color: transparent transparent transparent #245247;
}

/* ==================TERMINAL================== */

[data-theme|="terminal"] {
  --quote-font-family: "B612 Mono", sans-serif;
  --quote-line-height: 1.3;
}

[data-theme|="terminal"] body,
[data-theme|="terminal"] select,
[data-theme|="terminal"] button {
  font-family: var(--quote-font-family);
}

[data-theme|="terminal"] body:before {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
  background-size: 100% 2px, 3px 100%;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(
      rgba(13, 14, 14, 0) 50%,
      rgba(0, 0, 0, 0.25) 50%
    ),
    linear-gradient(
      90deg,
      rgba(204, 0, 0, 0.06),
      rgba(51, 204, 0, 0.02),
      rgba(0, 0, 204, 0.06)
    );
  z-index: 3;
  pointer-events: none;
}

[data-theme|="terminal"] body:after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  background-color: rgba(18, 16, 16, 0.1);
  background-image: none;
  opacity: 0;
  z-index: 3;
  pointer-events: none;
  animation: flicker 0.5s infinite;
}

[data-theme|="terminal"] blockquote {
  font-weight: bold;
  text-shadow: rgba(0, 24, 204, 0.5) 2.62088px 0px 1px,
    rgba(204, 0, 64, 0.3) -2.62088px 0px 1px, 0px 0px 3px;
}

[data-theme|="terminal"] blockquote p {
  max-height: 50vh;
}

[data-theme|="terminal"] cite {
  font-style: normal;
}

[data-theme|="terminal"] cite:before {
  content: "> ";
}

[data-theme|="terminal"] cite:after {
  content: " ";
  width: 0.5rem;
  height: 1rem;
  display: inline-block;
  margin-inline-start: 0.5rem;
  background: var(--font-color);
  box-shadow: rgba(0, 24, 204, 0.5) 2.62088px 0px 1px,
    rgba(204, 0, 64, 0.3) -2.62088px 0px 1px, 0px 0px 3px;
  animation: blink 1s step-start 0s infinite;
  transform: translateY(1px);
}

[data-theme|="terminal"] #time-progress-bar {
  background: var(--accent-color);
}

[data-theme="terminal-light"] {
  --font-color: #373518;
  --background: #fff6ae;
  --accent-color: rgb(172, 127, 2);
}

[data-theme="terminal-dark"] {
  --font-color: rgb(135, 224, 135);
  --background: rgb(2, 22, 0);
  --accent-color: rgb(27, 236, 27);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
